@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 500;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600 900;
  font-display: swap;
}
[data-keyloom-theme] {
  --mono: 'JetBrains Mono', monospace;
  --bg: #151715;
  --panel: #1c1f1c;
  --surface: #293024;
  --border: #46513b;
  --text: #eeefe8;
  --muted: #a5ae9d;
  --accent: #d5e7a2;
  --on-accent: #222b17;
  --error: #f0b49c;
  --heat-1: #3b442f;
  --heat-2: #706648;
  --heat-3: #8a6249;
  --heat-text: #ffebc0;
  --scheme: dark;
  color-scheme: var(--scheme);
}
[data-keyloom-theme='light'] {
  --bg: #f5f3ed;
  --panel: #ffffff;
  --surface: #e8e6dd;
  --border: #b8bbaf;
  --text: #272d28;
  --muted: #626a60;
  --accent: #486438;
  --on-accent: #ffffff;
  --error: #a13f30;
  --heat-1: #d4dfc8;
  --heat-2: #ecce96;
  --heat-3: #dda58b;
  --heat-text: #3d2c20;
  --scheme: light;
}
[data-keyloom-theme='repose-dark'] {
  --bg: #2f3338;
  --panel: #353a40;
  --surface: #41464c;
  --border: #656760;
  --text: #d6d2bc;
  --muted: #aeac9f;
  --accent: #d6d2bc;
  --on-accent: #2f3338;
  --error: #e0a697;
  --heat-1: #555a54;
  --heat-2: #786f56;
  --heat-3: #916854;
  --heat-text: #f2e4c8;
}
